config.cfg
ssh-config
encrypted_data_bag_secret
metadata.json
cookbooks/apache2/
cookbooks/build-essential/
cookbooks/chef_handler/
cookbooks/dmg/
cookbooks/git/
cookbooks/mysql/
cookbooks/openssl/
cookbooks/php/
cookbooks/runit/
cookbooks/sudo/
cookbooks/windows/
cookbooks/wordpress/
cookbooks/xml/
cookbooks/yum/

